<div class="weather-container">
  <div class="d-flex justify-content-between">
    <div class="text-primary text-size-24">Search City</div>
    <div matDialogClose><i class="bi bi-x-lg text-primary text-size-24"></i></div>
  </div>
  <div class="input-group mt-3">
    <input type="text" name="cityName" [(ngModel)]="city" class="form-control" placeholder="Enter city name">
    <button type="submit" class="btn btn-primary" (click)="getWeather()">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div *ngIf="errorMessage" class="error" class="mt-3 city-not-found p-2">
    {{ errorMessage }}
  </div>
  <div *ngIf="weatherData" class="weather-info">
    <div class="weather-item">
      <span class="label">City Name:</span>
      <span class="value">{{weatherData.name}}</span>
    </div>
    <div class="weather-item">
      <span class="label">Temperature:</span>
      <span class="value">{{this.convertKelvinToCelsius(weatherData.main.temp)}} °C</span>
    </div>
    <div class="weather-item">
      <span class="label">Humidity:</span>
      <span class="value">{{weatherData.main.humidity}}%</span>
    </div>
    <div class="weather-item">
      <span class="label">Description:</span>
      <span class="value">{{weatherData.weather[0].description}}</span>
    </div>
    <div class="weather-item">
      <span class="label">Sunrise:</span>
      <span class="value">{{this.convertUnixTimestampToDateTime(weatherData.sys.sunrise)}}</span>
    </div>
    <div class="weather-item">
      <span class="label">Sunset:</span>
      <span class="value">{{this.convertUnixTimestampToDateTime(weatherData.sys.sunset)}}</span>
    </div>
  </div>
</div>
