<div class="container news-container">
  <div class="text-center text-size-30 mt-3 fw-bold">{{heading}}</div>
  <div *ngIf="isLoading; else content" class="centered-spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <ng-template #content>
  <div class="p-3 rounded border my-3 news-card" *ngFor="let item of entertainmentNewsDataSource">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <img class="news-image" [src]="item.urlToImage">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 justify-content-start">
        <div class="text-size-18 fw-bold">{{item.title}}</div>
        <div class="text-size-15 text-primary mt-2">Author : {{item.author}}</div>
        <div class="text-size-15 mt-2">{{item.description}}</div>
        <div class="text-size-15 mt-2 text-primary">Published On : {{formatDate(item.publishedAt)}}</div>
        <div class="text-size-15 mt-2 text-primary">Source : {{item.source.name}}</div>
        <div class="mt-2">
          <button class="p-1 bg-transparent"><a [href]="item.url" class="text-decoration-none text-dark text-size-15">Read More</a></button>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</div>
