.text-size-20{
  font-size: var(--app-size-30px);
}

.text-size-15{
  font-size: var(--app-size-15px);
}

.text-size-16{
  font-size: var(--app-size-16px);
}

.text-size-18{
  font-size: var(--app-size-18px);
}

.text-size-24{
  font-size: var(--app-size-24px);
}
